:root {
    --white: #fff;
    --black: #000;
    --red: #ff2511;
    --dark-red: #ba0f30;
    --dark: #2f2440;
    --dark-green: #122620;
    --light: #c6b79b;
    --blue-light: #2196f3;
    --gold: #fbdd00;
    --dark-gold: #fbdd00;

    --mainColor: #2196f3;
    --secColor: #04223d;
    --whiteColor: #ccdfee;
    --fontColor: #3e4b61;
    --transparentColor: hsl(207, 61%, 54%, 50%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Fira Code", monospace;
}

.over-lay {
    position: relative;
}
.over-lay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #04223d73;
}

.welcome-msg {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;
    background-color: var(--white);
    padding: 20px 40px;
    text-align: center;
    width: 80%;
    border-radius: 5px;
}
 h1 {
    font-weight: 900;
}
.welcome-msg hr{
    background-color: var(--dark-red);
    margin-top: 0px;
    width: 20px;
    height:3px;
}
.welcome-msg a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #04223d;
    margin-top: 20px;
    gap: 20px;
}
.welcome-msg a svg {
    font-size: 2rem !important;
}

h2 {
    color: var(--dark-green);
}

.navbar {
    background-color: var(--secColor);
}
.navbar .logo {
    width: 40px;
    background-color: transparent;
}
.navbar .navbar-toggler {
    background-color: var(--dark-red);
    color: white;
    border: 1px solid wheat;
}
.navbar-toggler svg {
    font-size: 22px;
}

.navbar-nav a {
    color: var(--light);
    font-weight: bold;
}
.navbar-nav .nav-item {
    margin-inline: 5px;
}
.navbar-nav .nav-item:hover a {
    color: var(--dark-red);
}

.landing {
    min-height: calc(100vh - 66px);
    overflow: hidden;
}
.landing .personal-part {
    position: relative;
}
.landing .personal-part .box {
    height: 250px;
    width: 250px;
    margin-bottom: 75px;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
}
.landing .personal-part .personal-img {
    max-width: 100%;
    border-radius: 5px;
}

.landing .personal-part svg {
    z-index: -1;
    width: 600px;
}
.landing .content {
    width: 50%;
    color: var(--dark);
}
.landing .content p {
    margin-top: 30px;
    font-size: 30px;
}
.landing .content p:last-of-type {
    font-size: 25px ;
}

.landing .content .btn {
    padding: 10px 25px;
    background-color: var(--secColor);
    font-weight: 900;
}
a {
    text-decoration: none;
    color: var(--white);
}
.landing .content .btn:hover {
    box-shadow: 0 0 10px 0px var(--mainColor), 0 0 40px 0px var(--secColor);
}

@media (max-width: 991px) {
    .landing {
        flex-direction: column;
    }
    .landing .personal-part {
        width: 100%;
    }
    .landing .content {
        margin-top: 50px;
    }
    .landing svg {
        margin-right: -100px;
    }
    .landing .personal-part .box {
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }
    .landing .personal-part .box img {
        width: 250px;
    }
}
@media (max-width: 678px) {
    .landing svg {
        margin-right: -120px;
        width: 550px !important;
    }
}
@media (max-width: 470px) {
    .landing .personal-part .box img {
        width: 150px;
        margin: 80px 10px 0px 0;
    }
    .landing svg {
        margin-right: -80px;
        width: 360px !important;
    }
    h1,h2{
        font-size: 5.5vw ;
    }
    p{
        font-size: 4.5vw !important;
    }
    .btn{
        font-size: 5vw !important;
    }
}
@media (max-width: 300px) {
    .landing .personal-part .box img {
        width: 100px;
        margin: 80px 10px 0px 0;
    }
    .landing svg {
        margin-right: -100px;
        width: 300px !important;
    }
}

#about {
    padding: 60px 0;
}
header {
    width: 100%;
    text-align: center;
    color: var(--dark);
    cursor: pointer;
}
header .head {
    border: 1px solid var(--secColor);
    width: fit-content;
    margin: 0 auto;
    padding: 10px 15px;
}
header .active-sec {
    position: relative;
}
header .active-sec::before,
header .active-sec::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--secColor);
    z-index: -1;
}
header .active-sec::before {
    left: -35px;
    animation: head-left 2s linear 1 forwards;
}
header .active-sec::after {
    right: -35px;
    animation: head-right 2s linear 1 forwards;
}
header .head h2 {
    font-weight: 900;
}
header p {
    font-size: 20px;
    font-weight: 900;
    color: var(--light);
}
header .active-sec h2 {
    transition: 1s;
    transition-delay: 1s;
    color: white;
}

@keyframes head-right {
    50% {
        width: 15px;
        height: 15px;
        right: 0;
    }
    100% {
        border-radius: 0;
        right: 0%;
        width: 100%;
        height: 100%;
    }
}
@keyframes head-left {
    50% {
        width: 15px;
        height: 15px;
        left: 0;
    }
    100% {
        border-radius: 0;
        left: 0%;
        width: 100%;
        height: 100%;
    }
}

#contact,
#about,
#our-works,
.content {
    padding: 60px 0;
}

#contact .content {
    text-align: center;
}
#contact .content h2 {
    margin: 20px auto;
    padding: 0 20px;
    width: fit-content;
    position: relative;
    border: 5px solid;
    border-color: transparent var(--dark-green);
}

.contact-opt .social {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-opt .social > svg {
    font-size: 20px;
    margin-top: -10px;
    min-width: 100px !important;
    animation: arrow 1s linear infinite;
}
.contact-opt a {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--dark-green);
}
.contact-opt a svg,
.welcome-msg a svg ,
.social-dev a svg{
    margin-top: -15px;
    font-size: 25px;
    transition: 0.3s;
}
.contact-opt a:hover,
.welcome-msg a:hover,
.social-dev svg:hover {
    color: var(--dark-red);
}

.contact-opt h2 {
    margin-top: 50px !important;
}
.contact-opt .community {
    display: flex;
    width: fit-content;
    margin: 50px auto;
    gap: 30px;
}

.contact-opt .community svg {
    font-size: 50px;
}
@keyframes arrow {
    0%,
    10% {
        transform: translateX(0);
        color: var(--black);
    }
    20%,
    50%,
    80%,
    100% {
        transform: translateX(35px);
        color: var(--fontColor);
    }
    40%,
    60% {
        transform: translateX(0);
        color: var(--dark);
    }
}

@media (max-width: 767px) {
    .contact-opt .social {
        justify-content: center;
    }
    .contact-opt .social a {
        width: fit-content;
    }
    .contact-opt .social a p {
        display: none;
    }
}
@media (max-width: 600px) {
    .contact-opt .social p {
        min-width: 120px !important;
    }
    .contact-opt .social > svg {
        min-width: 100px !important;
    }
  
}
@media (max-width: 260px) {
    .contact-opt .social p {
        min-width: 120px !important;
    }
    .contact-opt .social > svg {
        min-width: 60px !important;
    }
    .contact-opt .community svg {
        font-size: 10vw;
    }
    .content h2{
        padding: 10px !important;
    }
}




/* Footer */
footer{
    background-color: var(--secColor);
    padding: 30px 0 ;
    color: var(--white);
    text-align: center;
}
footer h3{
    font-weight: normal;
    font-size:  20px !important;
    margin-bottom: 15px;
}
footer h3 span{
    font-weight: 900;
    letter-spacing: 3px;
}
footer p{
    margin: 0px;
}
footer p span{
    font-size: 25px;
    display: inline-block;
    transform: translateY(5px);
}