:root {
    --white: #fff;
    --black: #000;
    --red: #ff2511;
    --dark-red: #ba0f30;
    --dark: #2f2440;
    --dark-green: #122620;
    --light: #c6b79b;
    --blue-light: #2196f3;
    --gold: #fbdd00;
    --dark-gold: #fbdd00;

    --mainColor: #2196f3;
    --secColor: #04223d;
    --whiteColor: #ccdfee;
    --fontColor: #3e4b61;
    --transparentColor: hsl(207, 61%, 54%, 50%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Fira Code", monospace;
    height: 10000px;
}

.navbar {
    background-color: var(--secColor);
}
.navbar .logo {
    width: 40px;
    background-color: transparent;
}
.navbar .navbar-toggler {
    background-color: var(--dark-red);
    color: white;
    border: 1px solid wheat;
}
.navbar-toggler svg {
    font-size: 22px;
}

.navbar-nav a {
    color: var(--light);
    font-weight: bold;
}
.navbar-nav .nav-item {
    margin-inline: 5px;
}
.navbar-nav .nav-item:hover a {
    color: var(--dark-red);
}

.landing {
    min-height: calc(100vh - 66px);
    overflow: hidden;
}
.landing .personal-part {
    position: relative;
}
.landing .personal-part .box {
    height: 250px;
    width: 250px;
    margin-bottom: 75px;
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
}
.landing .personal-part .personal-img {
    max-width: 100%;
    border-radius: 5px;
}

.landing .personal-part svg {
    z-index: -1;
    width: 600px;
}
.landing .content {
    width: 50%;
    color: var(--dark);
}
.landing .content p {
    font-size: 30px;
}
.landing .content p:last-of-type {
    font-size: 25px !important;
}

.landing .content .btn {
    padding: 10px 25px;
    background-color: var(--secColor);
    font-weight: 900;
}
a {
    text-decoration: none;
    color: var(--white);
}
.landing .content .btn:hover {
    box-shadow: 0 0 10px 0px var(--mainColor), 0 0 40px 0px var(--secColor);
}

@media (max-width: 991px) {
    .landing {
        flex-direction: column;
    }
    .landing .personal-part {
        width: 100%;
    }
    .landing .content {
        margin-top: 50px;
    }
    .landing svg {
        margin-right: -100px;
    }
    .landing .personal-part .box {
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }
    .landing .personal-part .box img {
        width: 250px;
    }
}
@media (max-width: 678px) {
    .landing svg {
        margin-right: -150px;
        width: 550px !important;
    }
}

#about {
    padding: 60px 0;
}
header {
    width: 100%;
    text-align: center;
    color: var(--dark);
    cursor: pointer;
}
header .head {
    border: 1px solid var(--secColor);
    width: fit-content;
    margin: 0 auto;
    padding: 10px 15px;
}
header .active-sec {
    position: relative;
}
header .active-sec::before,
header .active-sec::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--secColor);
    z-index: -1;
}
header .active-sec::before {
    left: -35px;
    animation: head-left 2s linear 1 forwards;
}
header .active-sec::after {
    right: -35px;
    animation: head-right 2s linear 1 forwards;
}
header .head h2 {
    font-weight: 900;
}
header p {
    font-size: 20px;
    font-weight: 900;
}
header .active-sec h2 {
    transition: 1s;
    transition-delay: 1s;
    color: white;
}

@keyframes head-right {
    50% {
        width: 15px;
        height: 15px;
        right: 0;
    }
    100% {
        border-radius: 0;
        right: 0%;
        width: 100%;
        height: 100%;
    }
}
@keyframes head-left {
    50% {
        width: 15px;
        height: 15px;
        left: 0;
    }
    100% {
        border-radius: 0;
        left: 0%;
        width: 100%;
        height: 100%;
    }
}

#contact {
    padding: 0 60px;
}
#contact .content {
    text-align: center;
}
#contact .content .social{
    text-align: start;
}
#contact .content a {
    color: var(--dark);
}
#contact .content p {
    display: inline;
}

#contact .content .arrow{
    margin: 0 20px;
    animation: arrow 1s linear infinite;
}
@keyframes arrow {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        padding-left: 50px;
    }
    40%,
    60% {
        padding-left: 35px;
    }
}
